<div class="container">
  <div class="title"><label>{{ 'titleLabel'| translate }}</label></div>
  <form [formGroup]="formOperationData" (ngSubmit)="OnSubmitData()">
    <div class="mb-3 row">
      <label for="currencySelect" class="col-sm-2 col-form-label">{{ 'currencyLabel' | translate}}</label>
      <div class="col-sm-2">
        <select class="form-select currencySelect" aria-label="Default select example" id="currencySelect" formControlName="currency">
          <option value="EUR" class="currencyOption">EUR</option>
          <option value="USD" class="currencyOption">USD</option>
        </select>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">{{ 'causalTypeLabel' | translate }}</label>
      <div class="col-sm-5">
        <select class="form-select" aria-label="Default select example" id="causalTypeSelect" formControlName="causalType">
          <option value="purchase">{{ 'causalTypeSelectOption.purchase' | translate }}</option>
          <option value="sale">{{ 'causalTypeSelectOption.sale' | translate }}</option>
        </select>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="operationDatepicker" class="col-sm-2 col-form-label">{{ 'operationDateLabel' | translate }}</label>
      <div class="col-sm-5">
        <input id="startDate" class="form-control" type="date" id="operationDatepicker" formControlName="operationDate"/>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="toolText" class="col-sm-2 col-form-label">{{ 'toolLabel' | translate }}</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="toolText" formControlName="tool">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="quantityText" class="col-sm-2 col-form-label">{{ 'quantityLabel' | translate }}</label>
      <div class="col-sm-5">
        <input type="number" class="form-control" id="quantityText" formControlName="quantity" (change)="OnPriceOrQuantityChange()">
      </div>
    </div>
    <div class="mb-3 row"></div>
    <div class="mb-3 row">
      <label for="tool" class="col-sm-2 col-form-label">{{ 'priceLabel' | translate }}</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="tool" formControlName="price" (change)="OnPriceOrQuantityChange()">
      </div>
    </div>
    <div class="mb-3 row"></div>
    <div class="mb-3 row">
      <label for="tool" class="col-sm-2 col-form-label">{{ 'amountLabel' | translate }}</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="tool" placeholder="0" formControlName="amount" readonly>
      </div>
    </div>
    <div class="mb-3 row"></div>
    <div class="mb-3 row"></div>
    <div class="mb-3 row"></div>
    <div class="mb-3 row">
      <div class="col-sm-9"></div>
      <div class="col-sm-3"><button type="submit" class="btn btn-primary" [disabled]="formOperationData.invalid" >{{ 'insertButtonText' | translate}}</button></div>
    </div>
  </form>
</div>